NOTION_API_KEY=''
NOTION_DB_BLOG_ID=''
NOTION_DB_PORTFOLIO_ID=''

# Site metadata
NEXT_PUBLIC_BASE_URL=''

# Giscus (GitHub Discussions)
NEXT_PUBLIC_GISCUS_REPO='zziglet/zzig-log'
NEXT_PUBLIC_GISCUS_REPO_ID=''
NEXT_PUBLIC_GISCUS_CATEGORY='General'
NEXT_PUBLIC_GISCUS_CATEGORY_ID=''
