{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write --parser json"],
  "*.md": ["prettier --write --parser markdown"],
  "*.css": ["prettier --write --parser css"]
}
