html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  font-family: var(--font-suit);
  font-size: var(--body--md);
  text-rendering: optimizeSpeed;
  background-color: var(--background--base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
  overflow-wrap: normal;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

:root {
  /* Color styles */
  --cream_50: #f6f1dd;
  --cream_100: #ebe0b3;
  --cream_200: #dad0a6;
  --cream_300: #c3ba94;
  --cream_400: #a9a180;
  --cream_500: #8e876b;
  --cream_600: #726c55;
  --cream_700: #565240;
  --cream_800: #3a372a;
  --cream_900: #201e16;
  --cream_950: #12110b;

  --peach_50: #f9efe9;
  --peach_100: #f3ded2;
  --peach_200: #ecc4aa;
  --peach_300: #e7af85;
  --peach_400: #d1986a;
  --peach_500: #b18059;
  --peach_600: #8f6746;
  --peach_700: #6d4d34;
  --peach_800: #4a3422;
  --peach_900: #291b10;
  --peach_950: #190f07;

  --border--light: #dbdbdb;
  --border--medium: #bababa;
  --border--heavy: #9d9d9d;

  --text--disabled: #9d9d9d;
  --text--body: #1b1b1b;
  --text--title: #121212;

  --background--base: #fafafa;
  --background--layer_1: #d9d9d9;
  --background--layer_2: #f6f1dd;

  --danger_surface: #fcedec;
  --danger_border: #f9d5d2;
  --danger_base: #b13b28;
  --danger_text: #922f1f;

  --success_border: #aeca6a;
  --success_base: #5e6e37;
  --success_text: #475428;

  /* todo : 사용 시에 update 필요 */
  --warning_border: #d9d9d9;
  --warning_base: #d9d9d9;
  --warning_text: #d9d9d9;

  --information_surface: #d9d9d9;
  --information_border: #d9d9d9;
  --information_base: #d9d9d9;
  --information_text: #d9d9d9;

  /* Text-size styles (Desktop, >= 1024px) */
  --heading--7xl: 6.4rem; /* 64px */
  --heading--5xl: 4.8rem; /* 48px */
  --heading--4xl: 3.6rem; /* 36px */
  --heading--3xl: 3rem; /* 30px */
  --heading--2xl: 2.4rem; /* 24px */
  --heading--xl: 2rem; /* 20px */

  --body--2xl: 1.8rem; /* 18px */
  --body--xl: 1.6rem; /* 16px */
  --body--lg: 1.5rem; /* 15px */
  --body--md: 1.4rem; /* 14px (본문 기본값) */
  --body--sm: 1.3rem; /* 13px */
  --body--xs: 1.2rem; /* 12px */

  /* Effect styles */
  --shadow: 0px 2px 12px rgba(68, 68, 68, 0.2);
}

@media (max-width: 1023px) {
  :root {
    /* Tablet (768px ~ 1023px) */
    --heading--7xl: 4.8rem; /* 48px */
    --heading--5xl: 3.6rem; /* 36px */
    --heading--4xl: 3.2rem; /* 32px */
    --heading--3xl: 2.6rem; /* 26px */
    --heading--2xl: 2.2rem; /* 22px */
    --heading--xl: 2rem; /* 20px */
  }
}

@media (max-width: 767px) {
  :root {
    /* Mobile (<= 767px) */
    --heading--7xl: 3.6rem; /* 36px */
    --heading--5xl: 3rem; /* 30px */
    --heading--4xl: 2.6rem; /* 26px */
    --heading--3xl: 2.2rem; /* 22px */
    --heading--2xl: 2rem; /* 20px */
    --heading--xl: 1.8rem; /* 18px */

    --body--2xl: 1.6rem; /* 16px */
    --body--xl: 1.5rem; /* 15px */
    --body--lg: 1.4rem; /* 14px */
    --body--md: 1.4rem; /* 14px */
    --body--sm: 1.3rem; /* 13px */
    --body--xs: 1.2rem; /* 12px */
  }
}
