name: Check PR
on:
  pull_request:
    branches:
      - main  # 'main' 브랜치로 향하는 PR일 때만 실행


jobs:
  check-branch-name:
    name: Check Branch Name
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name format
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          REGEXP='^(?:setting|feat|fix|docs|style|refactor|chore|deploy)\/#\d+\/[a-z0-9-]+$'
          
          echo "Checking branch name: $BRANCH_NAME"
          
          if [[ $BRANCH_NAME =~ $REGEXP ]]; then
            echo "Branch name format is correct."
            exit 0
          else
            echo "Error: Branch name format is incorrect."
            echo "Must follow: <Type>/#<Issue-ID>/<description>"
            echo "Example: Feat/#123/add-login-feature"
            exit 1
          fi